*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    min-height:100vh;
    padding:40px 15px;
}

.container{
    width:100%;
    max-width:500px;
    background:#fff;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.input-box{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:12px;
    font-size:16px;
    border:1px solid #ccc;
    border-radius:8px;
}

.js-task-checkbox {
    flex: 0 0 auto;
}

#add-btn{
    padding:12px 18px;
    border:none;
    border-radius:8px;
    background:#3b82f6;
    color:white;
    cursor:pointer;
    transition:.3s;
}

#add-btn:hover{
    background:#2563eb;
}

ul{
    list-style:none;
    margin-top:20px;
}

li{
    display:flex;
    align-items:center;
    gap:10px;
    background:#ececec;
    padding:12px;
    margin-bottom:10px;
    border-radius:8px;
}

li div {
    flex:1;
    cursor:pointer;
}

.js-done{
    text-decoration:line-through;
    color:gray;
}

.js-task-checkbox{
    width:18px;
    height:18px;
    cursor:pointer;
    accent-color:#16a34a;
}

.js-delete-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:7px 12px;
    border-radius:6px;
    cursor:pointer;
}

.js-delete-btn:hover{
    background:#dc2626;
}


